@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');


.product_rating {
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: goldenrod;
}

.product_btn {
    @apply bg-pink-300 px-2 py-1.5 my-1;
    cursor: pointer;
}

.section {
    @apply flex flex-wrap justify-center items-center align-middle;
}

.countdown_card {
    @apply bg-white flex flex-col justify-center items-center w-16 h-16 rounded-full;
     font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
}